@tailwind base;
@tailwind components;
@tailwind utilities;

.space{
    margin: 0 20px;
}
.winb{
    color:orangered;
}
.navbtn a:hover{
    padding:0 10px;
    transition: all .2s ease-in-out;
    background: orangered;
    color:white;
}
.logo span{
    display: none;
    cursor: pointer;
}
.header{
position:relative;
z-index: 20;
/* width: 100%; */
margin-bottom: 150px;
}
.header .container{
backdrop-filter: blur(3em);
    position: fixed;
}
.navsmobile{
    display: none;
}
.navs{
    gap: 10px;
    z-index: 20;
}
.icon{
    font-size: 5px;
}
h4{
    color: black;
}
.navbtn{
    margin-top: 20px;
}
.headcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.headcontent h1{
     font-size: 40px;
}
.accessbtn{
    padding: 5px;
   text-align: center;
    border-radius: .3em; 
    width:100%;
    color: white;
    font-size: 11px;
    background-color:rgb(82, 4, 4);
}
.addbtn{
    background-color:rgb(82, 4, 4);
    color: white;
    padding: 0 5px;
    border-radius: .3em;
}
.price{
    color: rgb(150, 150, 150);
    font-size: 11px;
}
.box{
    width: 100%;
    /* max-height: 250px; */
}
.box picture{
    width:100%;
}
.box img{
   width:100%;
    max-height: 140px;
}
.box .content{
    display: flex;
    flex-direction: column;
    line-height: 1.3em;
}
 .scroll::-webkit-scrollbar {
    width: .1px;
    }
    .scroll::-webkit-scrollbar-track {
    border: none;
    margin:0 20px;
    }
    .scroll::-webkit-scrollbar-thumb {
        max-width: 1px;
        border: none;
        background-color: white;
    }
.footer{
    margin-top: 50px;
}
.star{
    font-size:.1px;
}
.modal{
    backdrop-filter: blur(.5em);
}

@media (min-width:380px) and ( max-width:440px){
    .box{
        width: 150px;
        min-width: 50%;
        max-width: 150px;
        /* max-height: 250px; */
    }
    .box img{
        width:130px;
        max-height: 140px;
    }
}




@media (max-width:700px) {
    .bgimage img{
        display: none;
    }
    .navs{
        display: none;
    }
    .navsmobile{
        width: fit-content;
        position: absolute;
        display: flex;
        flex-direction: row;
        gap: 20px;
        /* top: 65px; */
        right:40px;
        backdrop-filter: blur(5px);
        padding: 20px;
        font-size: 18px;
        font-weight: bold;
        z-index: 200;
    }
    .navsmobile li{
        border: 1px solid;
        padding:5px 10px;
        font-size: 12px;
        border-radius: .5em;
    }
    .logo span{
        display: block;
    }
    .logo img{
        width: 25px;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

    }



}